.frame-18,
.frame-18-1 {
  display: flex;
  flex-direction: column;
  height: 584.32px;
  margin-left: 20px;
  margin-top: 20px;
  width: 747px;
}

.medium_ccexpress-2,
.medium_ccexpress-2-1 {
  height: 470.32px;
  margin-left: 148.5px;
  margin-top: -0.1px;
  object-fit: cover;
  width: 450px;
}

.community-page-is-under-construction,
.community-page-is-under-construction-1 {
  height: 48px;
  letter-spacing: 0;
  margin-top: 66.1px;
}

