:root { 
  --alizarin-crimson: #ea2f2f;
  --alizarin-crimson-2: #e92e2e;
  --anakiwa: #96ddfb;
  --black: #000000;
  --black-haze: #f7f7f7;
  --cararra: #ebebeb;
  --fuscous-gray: #565353;
  --golden-dream: #eacc2e;
  --gravel: #4c4c4c;
  --gray: #929191;
  --green-blue: #167db6;
  --hint-of-red: #f9f9f9;
  --quick-silver: #a7a5a5;
  --scooter: #2ec8e9;
  --scooter-2: #2fc8ea;
  --seashell: #f5f1f1;
  --sunglo: #de7373;
  --terracotta: #ed6a5a;
  --tulip: #ff8b8b;
  --white: #ffffff;
 
  --font-size-l: 32px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xl: 40px;
  --font-size-xs: 12px;
  --font-size-xxl: 48px;
  --font-size-xxs: 10px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.inter-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-black-10px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-40px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-gravel-24px {
  color: var(--gravel);
  font-family: var(--font-family-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-48px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-gray-16px {
  color: var(--gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-fuscous-gray-16px {
  color: var(--fuscous-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-seashell-16px {
  color: var(--seashell);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-black-40px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-white-20px {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-48px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.inter-medium-black-48px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-black-48px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.border-1px-terracotta {
  border: 1px solid var(--terracotta);
}
