.discover-button-6 {
  background-color: var(--terracotta);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  display: flex;
  height: 49px;
  margin-left: 85px;
  margin-top: 5px;
  transition: all 0.2s ease;
  width: 167px;
}

.discover-button-6:hover {
  transform: scale(1.1);
}

.nutrition {
  height: 19px;
  letter-spacing: 0;
  margin-left: 50.5px;
  margin-top: 15px;
  text-align: center;
  width: 66px;
}

.discover-button-6.discover-button-7 {
  margin-left: 70px;
}

